     
     


        <footer>
            <p class="text-white small mb-4 mb-lg-0" style="background-color:black; opacity: 0.3;">&copy; Ready Cert Work 2020. All Rights Reserved.</p>
        </footer>

    </body>
    
</html>